<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:5000/a" method="get">
        <label for="name">Name</label><br>
        <input type="text" name="name" id=""><br><br>
        <label for="excat"></label>Last Name<br>
        <input type="text" name="excat" id=""><br><br>
        <label for="amount"></label>Age<br>
        <input type="number" name="amount" id=""><br><br>
        <input type="submit" value="Submit" onclick="alert('expense recored added !!')">
</body>
</html>