<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form action="http://localhost:5000/a" method="get">
            <label for="fname">First Name</label><br>
            <input type="text" name="fname" id=""><br><br>
            <label for="lname"></label>Last Name<br>
            <input type="text" name="lname" id=""><br><br>
            <label for="age"></label>Age<br>
            <input type="number" name="age" id=""><br><br>
            <label for="city"></label>City<br>
            <input type="text" name="city" id=""><br><br>
            <label for="city"></label>Upload File<br>
            <input type="file" name="Upload File" id="fl">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>